/**
 * Features Section
 */

.features-section {
  padding: $section-padding-mobile 0;
  background-color: $color-gray-50;
  
  @include respond-to('md') {
    padding: $section-padding 0;
  }
}

.features-header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto $spacing-16;
}

.section-title {
  font-size: $font-size-3xl;
  font-weight: $font-weight-extrabold;
  margin-bottom: $spacing-4;
  
  @include respond-to('md') {
    font-size: $font-size-4xl;
  }
  
  @include respond-to('lg') {
    font-size: $font-size-5xl;
  }
}

.section-subtitle {
  font-size: $font-size-lg;
  color: $color-gray-600;
  line-height: $line-height-relaxed;
  margin: 0;
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-8;
  
  @include respond-to('md') {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @include respond-to('lg') {
    grid-template-columns: repeat(3, 1fr);
  }
}
