/**
 * Functions - Balanz Design System
 */

// Convert px to rem
@function rem($px) {
  @return calc($px / 16) * 1rem;
}

// Convert px to em
@function em($px, $base: 16) {
  @return calc($px / $base) * 1em;
}
